<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  指定所绑定的接口引用路径  -->
<mapper namespace="helloworld.mapper.EmployeeMapper">

    <select id="selectEmployeeById" resultType="helloworld.entity.Employee">
        select * from Employee where id = #{id}

    </select>
</mapper>